/* global.scss */

$primary: #ff9b28;  // Change to your desired color
$secondary:     #a86922;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;


$body-bg: #051A33;
$body-color: $primary;
$body-emphasis-color: $primary;
$border-color: $primary;

$btn-hover-bg-tint-amount: 10%;
$btn-hover-bg-shade-amount: 10%;

@import "../../node_modules/bootstrap/scss/bootstrap";


footer {
    background-color: lighten($body-bg, 3%);
}

button {
    background-color: #051A33;
    color: $primary;
    // cursor: pointer;
    background: transparent;
    outline: none;
    transition: 1s ease-in-out;
}

button:hover {
    transition: 1s ease-in-out;
    background: #ff9b2821;
}
